<form method="POST" action="/">
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
      <div class="card">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">工程師</h5>
          <input class="form-check-input" type="radio" name="engineer" id="engineer">
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">設計師</h5>
          <input class="form-check-input" type="radio" name="designer" id="designer">
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">創業家</h5>
          <input class="form-check-input" type="radio" name="entrepreneur" id="entrepreneur">
        </div>
      </div>
    </div>
  </div>

  <button class="btn btn-success" type="submit">產生幹話</button>
</form>

{{#if fuckWords}}
<div class="alert alert-info" role="alert">
  <span class="mr-2">每日一幹話:</span> <code>{{fuckWords}}</code>
</div>
{{/if}}